@import "tailwindcss";
@import './assets/font/pretendard/pretendardvariable.css';
@import './assets/font/notoserif/notoserif.css';
@import './assets/font/suit/SUIT-Variable.css';


@theme {  
  /* 기본 font-family 설정("Pretendard Variable") */
  --font-*: initial;
  --font-sans: 'Pretendard Variable', sans-serif;
  --font-serif: 'Noto Serif KR', serif;
  --font-suit: 'SUIT Variable', sans-serif;
}

@layer components{
  .btn-default{
    @apply rounded-3xl bg-blue-600 text-white inline-flex px-6 py-2 text-xl
  }
  
  .lists-item{
    @apply relative
  }

  .lists-item::before {
    content: '';
    @apply absolute left-0 top-0 w-2 h-2 bg-gray-400; /* 원하는 스타일 추가 */
  }
}