<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>애플카드컴포넌트</title>
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/pretendard/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      as="style"
      href="/font/pretendard/pretendardvariable.css" />
    <link
      rel="preload"
      as="font"
      href="/font/suit/SUIT-Variable.woff2"
      type="font/woff2"
      crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/suit/SUIT-Variable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <div class="card-container">
      <article class="apple-card h-(--card-size) pt-10 flex flex-col items-center gap-2 lg:gap-3 bg-no-repeat bg-center bg-cover bg-(image:--ipad-pro-set)">
        <h2 class="text-32 lg:text-40">iPad Pro</h2>
        <p class="text-19 lg:text-21">
          <span>놀라우리만치 얇다.</span>
          <span>엄청나게 강력하다.</span>
        </p>
        <p class="text-17">출시일 추후 공개</p>
        <div>
          <a href="#" class="text-xs lg:text-sm p-2 bg-blue-400">더 알아보기</a>
          <a href="#" class="text-xs lg:text-sm p-2 bg-blue-400">가격보기</a>
        </div>
      </article>
      
      <article class="apple-card h-(--card-size) pt-10 flex flex-col items-center gap-2 lg:gap-3 bg-no-repeat bg-center bg-cover">
        <h2 class="text-32 lg:text-40">iPad Pro</h2>
        <p class="text-19 lg:text-21">
          <span>놀라우리만치 얇다.</span>
          <span>엄청나게 강력하다.</span>
        </p>
        <p class="text-17">출시일 추후 공개</p>
        <div>
          <a href="#" class="text-xs lg:text-sm p-2 bg-blue-400">더 알아보기</a>
          <a href="#" class="text-xs lg:text-sm p-2 bg-blue-400">가격보기</a>
        </div>
      </article>
    </div>


  </body>
</html>
